<aside class="sidebar">
    <h2>Dashboard</h2>
    <nav>
        <ul>
            <li><a routerLink="/admin">Dashboard</a></li>
            <li><a routerLink="/admin/routes">Manage Trips</a></li>
            <li><a routerLink="/admin/user">Manage Users</a></li>
        </ul>
    </nav>
</aside>
<div class="main-content">
    <section class="user-management">
      <h3>Manage Users</h3>
      <table class="user-table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button (click)="deleteUser(user.id)">ลบ</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
</div>
