<aside class="sidebar">
    <h2>DASHBOARD</h2>
    <nav>
        <ul>
            <li><a routerLink="/admin">Dashboard</a></li>
            <li><a routerLink="/admin/routes">Manage Routes</a></li>
            <li><a routerLink="/admin/user">Manage Users</a></li>
            <li><a routerLink="/admin/reserve">Manage Booking</a></li>
        </ul>
    </nav>
</aside>
<div class="main-content">
    <h3>Recent Reservations</h3>
    <table>
        <thead>
            <tr>
                <th>User Name</th>
                <th>Trip ID</th>
                <th>Seats</th>
                <th>Booking Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of recentReservations">
                <td>{{ reservation.username }}</td>
                <td>{{ reservation.trip_id }}</td>
                <td>{{ reservation.number_of_seats }}</td>
                <td>{{ reservation.booking_date | date }}</td>
                <td>

                    <button (click)="deleteReservation(reservation.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Recent Users</h3>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of recentUsers">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>

                    <button (click)="deleteUser(user.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
